body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.intro-section {
    background-color: #A5F1E9;    
}

.image-top {
    position: relative;
    top: 200px;
    margin-bottom: 200px;
}

/* .middle-containter {

} */

.user-info {
    position: relative;
    top: 200px;
    font-family: 'Merriweather', 'Montserrat', sans-serif;
}

.username {
    font-family: 'Sacramento', 'Merriweather', sans-serif;
    font-size: 59px;
}

.profile {
    margin-left: 100px;
    margin-right: 100px;
}

.profile-pic-container {
    width: 200px;
    height: auto;
    margin: 50px;
    display:inline-block;
}

.profile-image {
    width: 100%;
    height: auto; 
    display:inline-block;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.intro {
    display: inline-block;
    width: 600px;
}

.bottom-container {
    font-family: 'Merriweather', 'Montserrat', sans-serif;
    font-size: 12px;
}