body {
    color: #273230;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 180%;
}

.intro-section {
    background-color: #A5F1E9;  
    padding-top: 20px;  
}

.image-top {
    position: relative;
    top: 200px;
    margin-bottom: 200px;
}

.middle-container {
    margin-top: 100px;
    margin-bottom: 100px; 
}

.user-intro {
    position: relative;
    top: 200px;
    font-family: 'Merriweather', 'Montserrat', sans-serif;
}

.username {
    font-family: 'Sacramento', 'Merriweather', sans-serif;
    font-size: 5em;
    color: #2C786C;
}

h2 {
    font-size: 2rem;
    color: #004445;
}

h3 {
    color: #004445;
    font-size: 2rem;
}

.skill-list {
    text-align: center;
}

.profile {
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    line-height: 170%;
}

.profile-pic-container {
    width: 200px;
    height: auto;
    margin: 50px;
}

.profile-image {
    width: 100%;
    height: auto; 
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    float: left;
    margin-right: 36px;
}


.bottom-container {
    font-family: 'Merriweather', 'Montserrat', sans-serif;
    font-size: 12px;
}

.skills {
    padding:30px;
}

.skill-row {
    width: 50%;
}

.contact-me {
    padding: 30px; 
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 14px;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  hr {
    border-style: none;
    border-color: gray;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

a {
    text-decoration: none;
    color: #004445;
    font-size: 1rem;
    font-family: 'Montserrat';
}

a:hover {
    color:antiquewhite;
}

.bottom-container {
    background-color: #A5F1E9;
    padding: 50px 0 20px;
}