body {
    margin: 0;
    text-align: center;
}

.intro-section {
    background-color: #A5F1E9;
    /* padding-bottom: 200px; */
    
}

.user-info {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 200px;
}

.image-top {
    position: relative;
    top: 200px;
    margin-bottom: 200px;
}

